{% extends 'base.html' %}
 
{% block content %}
    <form action='/update-client/{{ client.id }}' method="post">
        <div>
            <label>Nombre</label>
            <input type = "text" name = "nombre" placeholder = "Nombre" value="{{client.nombre}}"/>
        </div> 
        <div class="mb-3">
            <label>Plato Favorito</label>
            <input type = "text" name = "plato_favorito" placeholder = "Plato favorito"  value="{{client.plato_favorito}}"/>
        </div> 
        <input type = "submit" value = "Update"/>  
     </form> 
{% endblock content %}